VITE_SUPABASE_URL=https://vbspmwbinrkkemplksza.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZic3Btd2JpbnJra2VtcGxrc3phIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwODYzMDksImV4cCI6MjA5MTY2MjMwOX0._83LeH3M-tgu-zqXbUsFbq1yYPXe08u4DHmng_YtnFI

VITE_CRM_API_URL=http://localhost:3000
VITE_GOOGLE_MAPS_KEY=AIzaSyC6UMQKJoCKRKSLilePkMzOMudI5tjjX-A
VITE_CRM_API_URL=https://crm.cosiris.com

VITE_N8N_WHATS_TEST=https://n8n.srv1123447.hstgr.cloud/webhook-test/Recepcion-de-leads
VITE_N8N_WHATS_PROD=https://n8n.srv1123447.hstgr.cloud/webhook/Recepcion-de-leads